.filters {
  list-style-type: none;
  margin: 0;
  font-size: 13px;

  li {
    display: block;
    padding: 2px 0 35px 40px;
    color: rgba(139, 139, 139, 0.71);
    background-repeat: no-repeat;
    font-size: 1.4em;
    cursor: pointer;
    transition: all 0.15s ease-out;

    a {
      display: block;
      background-repeat: no-repeat;
      font-size: 1em;
      text-decoration: none;
    }

    a:hover {
      color: #613854;
    }
  }

  li.active {
    color: #613854;
  }
}
